/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

/* Colors */
:root{
  --blue:#7400ED;
  --very-dark-blue: hsl(226, 43%, 10%);
  --dark-blue: hsl(235, 46%, 20%);
  --desaturated-blue: hsl(235, 45%, 61%);
  --pale-Blue: hsl(236, 100%, 87%);
}

/* Reset */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}
ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button{
  border: unset;
  background: unset;
  outline: unset;
  color: var(--pale-blue);
}

body{
  background-color: var(--very-dark-blue);
  color: var(--pale-Blue);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main{
  /* min-width: 900px; */
  padding: 40px 10px;
}



/* User Infos */

#profile-user{
  position: relative;
  background-color: var(--blue);
  min-width:205px;
  border-radius: 15px;
  padding: 25px 25px 74px;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

@media only screen and (max-width: 600px) {
  #profile-user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;

  }
 
}


#profile-user .avatar{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid white;
}

#profile-user .avatar img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name-user p {
	font-weight: 500;
	text-transform: capitalize;
	margin-bottom: 1px;
  margin-top: 25px;
  color: var(--pale-Blue);
  font-size: 13px;
}

.name-user h1{
  font-weight: lighter;
  text-transform: capitalize;
  color: white;
  font-size: 2.2em;
}

/* Navigation buttons */

#nav{
  min-width:205px;
  background-color: var(--dark-blue);
  padding: 40px 20px 15px;
  border-radius: 15px;
  position: relative;
  top: -5%;
  color: var(--desaturated-blue);

}

@media only screen and (max-width: 600px) {
  #nav ul{
    display: flex;
    justify-content: space-evenly;
  }
 
}

#nav li{
  margin: 15px 0;
  transition: 0.5s color;
}

#nav li:hover{
  color: var(--pale-Blue);
}


/* Data Boxes */

.logo-box{
  /* width: 227px; */
  height: 50px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: var(--work);
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.logo-box img {
	position: absolute;
	top: -13px;
	right: 17px;
	opacity: 0.6;
	transform: scale(0.9);
}

.data-content {
	background-color: var(--dark-blue);
	padding: 20px 30px;
	border-radius: 15px;
	/* width: 227px; */
  position: relative;
  top: -13px;
  z-index: 3;
  transition: background-color 0.6s ease-in-out;
  cursor: pointer;
  user-select: none;
}

.data-content:hover{
  background-color:#40227C ;
}

.data-content .box-name{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
.data-content .box-name img{
  cursor: pointer;
}

.data-content .box-name h6{
  font-weight: bold;
  text-transform: capitalize;
  color: white;
}

.hours-num h1{
  margin: 20px 0 0px;
  font-weight: lighter;
  font-size: 3em;
  color: white;

}

 .hours-num p{
  color: var(--desaturated-blue);
  font-size: 13px;
  font-weight: bold;
}

.active {
  color: white;
  font-weight: bold;
}